video::-webkit-media-controls,
video::-webkit-media-controls-enclosure {
  display:none !important;
}

audio::-webkit-media-controls,
audio::-webkit-media-controls-enclosure {
  display:none !important;
}

#player{
	z-index: 2147483650;
	background-color: #000000;
}
	#layer_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-color: transparent;
	color: rgba(255,255,255,0.6);
	font-size: 60px;
	line-height: 60px;
	text-align: center;
	transform: translateY(40%);
	z-index: 2147483650;
}

#progressbar_container {
	position: relative;
	top: -38px;
	height: 9px;
	background-color: rgba(204,204,204,0.6);
	padding: 0;
	margin: 0;
	cursor: pointer;
	z-index: 2147483650;
}

	#bufferedbar {
		position: relative;
		top: 1px;
		height: 7px;
		background-color: rgba(255,255,255,0.6);
		padding: 0;
		margin: 0;
		width: 70%;
	}

	#progressbar {
		position: relative;
		top: -5px;
		height: 5px;
		background-color: rgba(2,186,242,0.6);
		padding: 0;
		margin: 0;
		width:0%;
	}

	#progressbar:hover {
		opacity: 0.9;
	}

#button_container {
	position: relative;
	top: -36px;
	z-index: 2147483650;
}

	#button_container button {
		padding: 2px 6px;
		background-color: transparent;
		border: 1px solid transparent !important;
	}

	#button_container button:hover {
		border: 1px solid #02baf2 !important;
	}

		#time_field {
			font-size: 12px;
		}

		#volume_slider_container {
			border: 1px solid transparent !important;
			background-color: rgba(204,204,204,0.6);
			width: 120px;
			height: 10px;
			position: absolute;
			top: 7px;
			left: 175px;
			cursor: pointer;
			transition: all 0.9s ease;
			display: none;
		}

		#volume_slider_container: {
			border: 1px solid transparent !important;
		}

			#volume_slider {
				border: 1px solid transparent;
				background-color: rgba(2,186,242,0.9);
				width: 100%;
				position: relative;
				top: 0px;
				height: 100%;
			}

			#volume {
				position: relative;
				top: -7px;
				height: 100%;
				font-size: 8px;
				text-align: center;
				vertical-align: middle;
				line-height: 8px;
				color: #ffffff;
				font-family: 'Arial';
			}

		@media screen and (max-width: 430px)
		{
			#volume_slider_container {
				width: 13%;
			}
		}